# Python-related
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Temporary files
*.tmp
*.log
*.csv
*.png

# Docker
*.dockerignore

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Other
.idea/
*.swp
*.swo
